table, th, td{
    font-size: 15px;
    color: black;
    border: 1.0px solid;
}

.undo{
    position: absolute;   
}

#undo{
    border: 1px solid #999;
    padding: 10px;
    background: #fff9cc;
    margin-top:10px;
    font-size: 15px;
}

.fin{
    position:absolute;
    right: 0;
}
#fin{
    border: 1px solid #999;
    padding: 10px;
    background: #fff9cc;
    margin-top:10px;
    font-size: 15px;
}

